<!DOCTYPE html>
<html>
<head>
  <title>NineNineCats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] ; p flash%>
  <ul>
  <% flash[:notice].each do |k,v| %>
  <li>
  <%= v %>
  </li>
  <% end %>
  </ul>
  <% end %>


<%= yield %>


</body>
</html>
